.game {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid black;
    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    &--conatiner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: brown;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}