.tile {
    width: 33.333%;
    height: 33.333%;
    box-sizing: border-box;
    background-size: 300% 300%;
    background-position: top left;
    background-image: url(jerry-yu-201932.jpg);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s linear;
    border: 1px solid black;
    &:nth-child(2) {
        background-position: center top;
    }
    &:nth-child(3) {
        background-position: right top;
    }
    &:nth-child(4) {
        background-position: left center;
    }
    &:nth-child(5) {
        background-position: center center;
    }
    &:nth-child(6) {
        background-position: right center;
    }
    &:nth-child(7) {
        background-position: left bottom;
    }
    &:nth-child(8) {
        background-position: center bottom;
    }
    &:nth-child(9) {
        background-position: right bottom;
    }
    &.pos-1 {
        transform: translate(0, 0);
    }
    &.pos-2 {
        transform: translate(100%, 0);
    }
    &.pos-3 {
        transform: translate(200%, 0);
    }
    &.pos-4 {
        transform: translate(0, 100%);
    }
    &.pos-5 {
        transform: translate(100%, 100%);
    }
    &.pos-6 {
        transform: translate(200%, 100%);
    }
    &.pos-7 {
        transform: translate(0, 200%);
    }
    &.pos-8 {
        transform: translate(100%, 200%);
    }
    &.pos-9 {
        transform: translate(200%, 200%);
    }
}